<launch>

    <node pkg="turtlesim" type="turtlesim_node" name="turtle_node" />
    <node pkg="turtlesim" type="turtle_teleop_key" name="turtle_key" output="screen" />
    <node pkg="round_turtle" type="demo2_possub" name="demo2_possub" output="screen" />
    <!-- <node pkg="round_turtle" type="demo1_round" name="demo1_round" output="screen" /> -->
    <node pkg="round_turtle" type="demo3_maketur" name="demo3_maketur" output="screen" />


</launch>