<launch>

    <node pkg="turtlesim" type="turtlesim_node" name="turtle1" output="screen" />
    <node pkg="turtlesim" type="turtle_teleop_key" name="key" output="screen" />

    <node pkg="tf04_test" type="test01_new_turtle" name="turtle2" output="screen" />
    <node pkg="tf04_test" type="test02_pub_turtle" name="pub1" args="turtle1" output="screen" />
    <node pkg="tf04_test" type="test02_pub_turtle" name="pub2" args="turtle2" output="screen" />
    
    <node pkg="tf04_test" type="test03_control_turtle2" name="control" output="screen" />
</launch>